window.onCreate = function () {
    /*Template*/
    var templateDiv = $('#template');
    switch (templateNumber) {
        case 2:
            templateDiv.html(window.getTemplate(2, menuNumber));
            break;
        default:
            templateDiv.html(window.getTemplate(1, menuNumber));
            break;
    }
    /*Theme*/
};

function loadPage(viewMode, theme, menuNumber, templateNumber, valuesMap) {
    window.theme = theme;
    window.menuNumber = menuNumber;
    window.templateNumber = templateNumber;
    window.valuesMap = valuesMap;
    window.viewMode = viewMode;
    if (viewMode == 1) {
        $('head').append('<script src="../js/script.js">')
    } else {
        $('head').append('<script src="../js/emptyScript.js">')
    }
}

loadPage(1, <%= site.theme_id %>, <%= site.menu_id %>, <%= site.temp_id %>, a);

var idValues = [
    'w1',
    'w2',
    'w3',
    'w4',
    'w5',
    'w6',
    'w7',
    'w8',
    'w9',
    'w10',
    'w11',
    'w12',
    'w13',
    'm1',
    'm2',
    'm3',
    'm4',
    'm5',//
    'm6',//
    'm7',//
    'm8',//
    'i11',///
    'i21',///
    'i31',///
    'i41'///
];

window.getTemplate = function (i, menu) {
    switch (i) {
        case 2:
            return "";
        default:
            return "<script src=\"templatefeaters/template1/assets/js/jquery.min.js\"></script>\n" +
                "    <script src=\"templatefeaters/template1/assets/js/jquery.scrollex.min.js\"></script>\n" +
                "    <script src=\"templatefeaters/template1/assets/js/jquery.scrolly.min.js\"></script>\n" +
                "    <script src=\"templatefeaters/template1/assets/js/skel.min.js\"></script>\n" +
                "    <script src=\"templatefeaters/template1/assets/js/util.js\"></script>\n" +
                "    <script src=\"templatefeaters/template1/assets/js/main.js\"></script>\n" +
                "    <link rel=\"stylesheet\" href=\"templatefeaters/template1/assets/css/main.css\" property='stylesheet'/>\n" +
                "\n" +
                "    \n" + window.getMenu(menu) +
                "\n" +
                "<div id=\"upId\"style=\"opacity: 0; height: 50px; position: absolute\"></div>" +
                "        <!-- Header -->\n" +
                "        <section id=\"header\">\n" +
                "            <header class=\"major\">\n" +
                "                <h1 id=\"w1\" ondblclick=\"onTextDbClick('w1')\">Highlights</h1>\n" +
                "                <p id=\"w2\" ondblclick=\"onTextDbClick('w2')\" href=\"http://html5up.net\">A fun little { responsive } single pager by HTML5 UP</p>\n" +
                "            </header>\n" +
                "            <div class=\"container\">\n" +
                "                <ul class=\"actions\">\n" +
                "                    <li><a id=\"buttonBegin\"href=\"#one\" class=\"button special scrolly\">Begin</a></li>\n" +
                "                </ul>\n" +
                "            </div>\n" +
                "        </section>\n" +
                "\n" +
                "        <!-- One -->\n" +
                "        <section id=\"one\" class=\"main special\">\n" +
                "            <div class=\"container\">\n" +
                "                <div class=\"content\">\n" +
                "                    <header class=\"major\">\n" +
                "                        <h2 id=\"w3\" ondblclick=\"onTextDbClick('w3')\">Who I am</h2>\n" +
                "                    </header>\n" +
                "                    <p  id=\"w4\" ondblclick=\"onTextDbClick('w4')\">Aliquam ante ac id. Adipiscing interdum lorem praesent fusce pellentesque arcu feugiat. Consequat sed ultricies rutrum. Sed adipiscing eu amet interdum lorem blandit vis ac commodo aliquet integer vulputate phasellus lorem ipsum dolor lorem magna consequat sed etiam adipiscing interdum.</p>\n" +
                "                </div>\n" +
                "                <a id=\"n1\"href=\"#two\" class=\"goto-next scrolly\">Next</a>\n" +
                "            </div>\n" +
                "        </section>\n" +
                "\n" +
                "        <!-- Two -->\n" +
                "        <section id=\"two\" class=\"main special\">\n" +
                "            <div class=\"container\">\n" +
                "                <div class=\"content\">\n" +
                "                    <header class=\"major\">\n" +
                "                        <h2  id=\"w5\" ondblclick=\"onTextDbClick('w5')\">Stuff I do</h2>\n" +
                "                    </header>\n" +
                "                    <p  id=\"w6\" ondblclick=\"onTextDbClick('w6')\">Consequat sed ultricies rutrum. Sed adipiscing eu amet interdum lorem blandit vis ac commodo aliquet vulputate.</p>\n" +
                "                    <ul class=\"icons-grid\">\n" +
                "                        <li>\n" +
                "                            <!--<span class=\"icon major fa-camera-retro\"></span>\n" +
                "                            --><span id=\"i1\" class=\"icon major\"><img id=\"i11\" ondblclick=\"onImgDbClick('i1', 'http://mirgif.com/11/gif45.gif')\" src=\"http://mirgif.com/11/gif45.gif\" style=\"height: 100px; width: 100px\"></span>\n" +
                "                            <h3  id=\"w7\" ondblclick=\"onTextDbClick('w7')\">Magna Etiam</h3>\n" +
                "                        </li>\n" +
                "                        <li>\n" +
                "                            <span id=\"i2\" class=\"icon major\" ><img id=\"i21\" ondblclick=\"onImgDbClick('i2', 'http://mirgif.com/11/gif45.gif')\" src=\"http://mirgif.com/11/gif45.gif\" style=\"height: 100px; width: 100px\"></span>\n" +
                "                            <h3  id=\"w8\" ondblclick=\"onTextDbClick('w8')\">Lorem Ipsum</h3>\n" +
                "                        </li>\n" +
                "                        <li>\n" +
                "                            <span id=\"i3\" class=\"icon major\"><img id=\"i31\" ondblclick=\"onImgDbClick('i3', 'http://mirgif.com/11/gif45.gif')\" src=\"http://mirgif.com/11/gif45.gif\" style=\"height: 100px; width: 100px\"></span>\n" +
                "                            <h3  id=\"w9\" ondblclick=\"onTextDbClick('w9')\">Nulla Tempus</h3>\n" +
                "                        </li>\n" +
                "                        <li>\n" +
                "                            <span id=\"i4\" class=\"icon major\"><img id=\"i41\" ondblclick=\"onImgDbClick('i4', 'http://mirgif.com/11/gif45.gif')\" src=\"http://mirgif.com/11/gif45.gif\" style=\"height: 100px; width: 100px\"></span>\n" +
                "                            <h3  id=\"w10\" ondblclick=\"onTextDbClick('w10')\">Sed Feugiat</h3>\n" +
                "                        </li>\n" +
                "                    </ul>\n" +
                "                </div>\n" +
                "                <a id=\"n2\" href=\"#three\" class=\"goto-next scrolly\">Next</a>\n" +
                "            </div>\n" +
                "        </section>\n" +
                "\n" +
                "        <!-- Three -->\n" +
                "        <section id=\"three\" class=\"main special\">\n" +
                "            <div class=\"container\">\n" +
                "                <div class=\"content\">\n" +
                "                    <header class=\"major\">\n" +
                "                        <h2  id=\"w11\" ondblclick=\"onTextDbClick('w11')\">One more thing</h2>\n" +
                "                    </header>\n" +
                "                    <p  id=\"w12\" ondblclick=\"onTextDbClick('w12')\">Aliquam ante ac id. Adipiscing interdum lorem praesent fusce pellentesque arcu feugiat. Consequat sed ultricies rutrum. Sed adipiscing eu amet interdum lorem blandit vis ac commodo aliquet integer vulputate phasellus lorem ipsum dolor lorem magna consequat sed etiam adipiscing interdum.</p>\n" +
                "                </div>\n" +
                "                <a id=\"n3\" href=\"#footer\" class=\"goto-next scrolly\">Next</a>\n" +
                "            </div>\n" +
                "        </section>\n" +
                "\n" +
                "        <!-- Footer -->\n" +
                "        <section id=\"footer\">\n" +
                "            <div class=\"container\">\n" +
                "                <header class=\"major\">\n" +
                "                    <h2  id=\"w13\" ondblclick=\"onTextDbClick('w13')\">Get in touch</h2>\n" +
                "                </header>\n" +
                "                <form method=\"post\" action=\"#\">\n" +
                "                    <div class=\"row uniform\">\n" +
                "                        <div class=\"6u 12u$(xsmall)\"><input type=\"text\" name=\"name\" id=\"inputName\" placeholder=\"Name\"/></div>\n" +
                "                        <div class=\"6u$ 12u$(xsmall)\"><input type=\"email\" name=\"email\" id=\"inputEmail\" placeholder=\"Email\" /></div>\n" +
                "                        <div class=\"12u$\"><textarea name=\"message\" id=\"inputMessage\" placeholder=\"Message\" rows=\"4\"></textarea></div>\n" +
                "                        <div class=\"12u$\">\n" +
                "                            <ul class=\"actions\">\n" +
                "                                <li><input id=\"inputButton\" type=\"submit\" value=\"Send Message\" class=\"special\" /></li>\n" +
                "                            </ul>\n" +
                "                        </div>\n" +
                "                    </div>\n" +
                "                </form>\n" +
                "            </div>\n" +
                "            <footer>\n" +
                "\n" +
                "                <ul class=\"copyright\">\n" +
                "                    <li>&copy; Untitled</li>\n" +
                "                </ul>\n" +
                "            </footer>\n" +
                "        </section>\n" +
                "\n";
    }
};

window.getMenu = function (i) {
    var path;
    switch (i) {
        case 2:
            path = 'horizontal';
            break;
        default:
            path = 'vertical';
            break;
    }
    return "<nav class=\"menu\" id=\"theMenu\">\n" +
        "        <link href=\"menu/" + path + "/Menu.css\" rel=\"stylesheet\">\n" +
        "        <link rel=\"stylesheet\" href=\"../css/font-awesome-4.6.1/css/font-awesome.min.css\">\n" +
        "        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>\n" +
        "        <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>\n" +
        "        <script src=\"../css/JQuery/jquery-3.0.0.min.js\"></script>\n" +
        "        <script type=\"text/javascript\" charset=\"utf-8\" src=\"menu/Menu.js\"></script>\n" +
        "\n" +
        "        <div class=\"menu-wrap\" id=\"menu-wrap\">\n" +
        "            <h1 class=\"logo\"><a href=\"#upId\">up</a></h1>\n" +
        "            <a id=\"m1\" href=\"#buttonBegin\">Who I am</a>\n" +
        "            <a id=\"m2\" href=\"#n1\">STUFF I DO</a>\n" +
        "            <a id=\"m3\" href=\"#n2\">ONE MORE THING</a>\n" +
        "            <a id=\"m4\" href=\"#n3\">GET IN TOUCH</a>\n" +
        "            <a id=\"m5\" href=\"https://www.facebook.com/sashka.osipov\" target=\"_blank\" onclick=\"onAClick(event)\"\n" +
        "               ondblclick='onLinkDbClick(\"m5\")'><i id=\"m51\" class=\"fa fa-facebook\"></i></a>\n" +
        "            <a id=\"m6\" href=\"https://twitter.com/Fusionmeow\" target=\"_blank\" onclick=\"onAClick(event)\"\n" +
        "               ondblclick='onLinkDbClick(\"m6\")'><i id=\"m61\" class=\"fa fa-twitter\"></i></a>\n" +
        "            <a id=\"m7\" href=\"https://vk.com/fusionqq\" target=\"_blank\" onclick=\"onAClick(event)\"\n" +
        "               ondblclick='onLinkDbClick(\"m7\")'><i id=\"m71\" class=\"fa fa-vk\"></i></a>\n" +
        "            <a id=\"m8\" href=\"https://www.instagram.com/alexadrias\" target=\"_blank\" onclick=\"onAClick(event)\"\n" +
        "               ondblclick='onLinkDbClick(\"m8\")'><i id=\"m81\" class=\"fa fa-instagram\"></i></a>\n" +
        "            <div id=\"linkInputDiv\"></div>\n" +
        "        </div>\n" +
        "\n" +
        "        <!-- Menu button -->\n" +
        "        <div id=\"menuToggle\"><i class=\"fa fa-bars\"></i></div>\n" +
        "    </nav>";
};

window.setValues = function (valuesMap) {
    Object.keys(valuesMap).forEach(function (id) {
        if (id == 'm5' || id == 'm6' || id == 'm7' || id == 'm8') {
            $('#'+id).attr('href', valuesMap[id]);
        }
        else if (id == 'i11' || id == 'i21' || id == 'i31' || id == 'i41') {
            $('#'+id).attr('src', valuesMap[id]);
            document.getElementById(id).innerHTML = valuesMap[id];
        }
        else
            $('#' + id).html(valuesMap[id]);
    });
};


window.saveValues = function () {
    var values = {};
    idValues.forEach(function(id){
        console.log(id);
        if (id == 'm5' || id == 'm6' || id == 'm7' || id == 'm8') {
            values[id] = document.getElementById(id).href;
        }
        else if (id == 'i11' || id == 'i21' || id == 'i31' || id == 'i41') {
            values[id] = document.getElementById(id).src;
        }
        else
            values[id] = $('#'+id).html();

    });
    console.log(values);

    return values;
};


